<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>mainpage</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/swiper-icons.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/Banner-Heading-Image-images.css">
    <link rel="stylesheet" href="/assets/css/iframe-1.css">
    <link rel="stylesheet" href="/assets/css/iframe.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="/assets/css/Simple-Bootstrap-Chat.css">
    <link rel="stylesheet" href="/assets/css/Simple-Slider-swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="/static/css/chat.css">
</head>

<body>
    <nav class="navbar navbar-expand bg-light">
        <div class="container"><a class="navbar-brand" href="/pages">Asssity</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"></button>
            <div class="collapse navbar-collapse justify-content-end align-items-end align-content-end" id="navcol-2" style="position: static;">
                <div><a class="btn btn-primary ms-auto" role="button" href="/pages/up_ballance" style="background: var(--bs-teal);transform: translateX(0px);position: static;filter: blur(0px) hue-rotate(0deg) invert(0%);padding-right: 15px;margin-right: 43px;">Баланс: {{data.user_data.ballance}} р.</a><a class="btn btn-primary ms-auto" role="button" href="/pages/actions">Торговать</a></div>
            </div>
        </div>
    </nav>



    <section class="position-relative header-chat-section">
                    <div class="chat-header">
                    <div class="d-flex align-items-center align-items-md-start align-items-xl-center chat-header-block">

                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center me-4 d-inline-block bs-icon xl">
                            <img class="profile-pic" src="data:image/jpeg;base64,{{ data.chats_data.image_base64 }}">
                        </div>

                        <div>
                            <h4 style="margin-top: 10px;">{{data.chats_data.name}}</h4>
                            <h4 style="margin-top:15px; font-size: 16px;">{{data.chats_data.last_seance}}</h4>
                        </div>
                    </div>
                </div>
    </section>




   <!-- Typing area  <div class="bootstrap_chat">-->
    <!-- Typing area<div class="container py-5 px-4"> -->

    <section class="chat-section">

        <div class="chat">

    <!--                   Chat Box                                     -->
    <div class="col-12 px-0 chat-wrapper" >
      <div class="px-4 py-5 chat-box bg-white my-chat-box ">



            {%for message in data.chats_data.message_list%}
          {%if not message.owner == data.user_data.id %}

          <!-- Sender Message-->
          <div class="mes-space">

              <div class="sender-message-box">
                  <p>{{message.text}}</p>
              </div>

             <div class="datetime">
                  <p class="small text-muted">{{message.sending_date}}</p>
            </div>

         </div>


        {%else%}

        <!-- Reciever Message-->
           <div class="mes-space">

             <div class="reciever-message-box">
                  <p>{{message.text}}</p>
              </div>

             <div class="datetime">
                  <p class="small text-muted">{{message.sending_date}}</p>
            </div>

         </div>

          {%endif%}
          {%endfor%}



    </div>


      <!-- Typing area -->
      <form method="post" id="RateForm" action="/chat/send_message_api/{{data.chats_data.id}}" class="bg-light">
        <div class="input-group">
          <input name="message" type="text" placeholder="Напишите сообщение" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
          <!--<div class="input-group-append">-->
            <button id="button-addon2" type="button" class="btn btn-link"  onclick="submitFormAndReload(event)"> <i class="fa fa-paper-plane"></i></button>
          <!--</div>-->
        </div>
      </form>

    </div>
  </div>
</div>
</div>
</div>
</section>




    <script src="/static/js/scripts.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/scripts.js"></script>
    <script src="/assets/js/Simple-Slider-swiper-bundle.min.js"></script>
    <script src="/assets/js/Simple-Slider.js"></script>
</body>

</html>