<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <p id="random-number"></p>
<script>
    function updateRandomNumber() {
        const randomNumber = Math.floor(Math.random() * (9999999 - 1000000 + 1)) + 1000000;
        document.getElementById('random-number').innerText = randomNumber;
    }
    setInterval(updateRandomNumber, 1000); // Update every second
    updateRandomNumber(); // Initial call to set the number immediately
</script>
</body>
</html>